body{
    background-color: #0f4c81;
    color: #fff;
    font-family: "Britannic Bold", sans-serif;
}

.wrapper{
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-container{
    color: #0f4c81;
    padding: .5em 1em;
    font-weight: 700;
    border: none;
    outline: none;
}

.input{
    border-bottom-left-radius: .5em;
}

.button{
    background-color: #fff;
    border-bottom-right-radius: .5em;
}

.button:hover{
    background-color: #d3d3d3;
}

.weather-container{
    background-image: linear-gradient(45deg,
    #3695ff 10%, #469dff 10%,
    #469dff 25%,#4098ff 25%,
    #4098ff 40%, #3c8dfe 40%,
    #3684fe 60%,#3477f1 60%);
    margin: 1em auto;
    padding: 1em 0;
    max-width: 200px;
    border: 2px solid #fff;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.city-block{
    text-transform: uppercase;
    font-size: 1.2em;
}

.country-block{
    font-size: .6em;
    color: #d3d3d3;
}